html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.datosUsuarios{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}