html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.datosUsuarios{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo del fondo oscuro */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7); /* Negro al 70% de opacidad */
    backdrop-filter: blur(3px); /* Opcional: desenfoca el fondo */
}

/* Un poco de estilo para la caja */
dialog {
    border: none;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}