html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

 .datosUser {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

.btnSalir {
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
}

.saludo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;


}
